<div>
  <div>
    <h1>
      Question #<%= @the_question.id %> details
    </h1>

    <div>
      <div>
        <a href="/questions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_question/<%= @the_question.id %>">
          Delete question
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Category
      </dt>
      <dd>
        <%= @the_question.category_id %>
      </dd>

      <dt>
        Wrong answer 1
      </dt>
      <dd>
        <%= @the_question.wrong_answer_1 %>
      </dd>

      <dt>
        Wrong answer 2
      </dt>
      <dd>
        <%= @the_question.wrong_answer_2 %>
      </dd>

      <dt>
        Wrong answer 3
      </dt>
      <dd>
        <%= @the_question.wrong_answer_3 %>
      </dd>

      <dt>
        Correct answer
      </dt>
      <dd>
        <%= @the_question.correct_answer %>
      </dd>

      <dt>
        Source file
      </dt>
      <dd>
        <%= @the_question.source_file_id %>
      </dd>

      <dt>
        Question
      </dt>
      <dd>
        <%= @the_question.question %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_question.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_question.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit question
    </h2>

    <form action="/modify_question/<%= @the_question.id %>"  method="post" >
      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%= @the_question.category_id %>">
      </div>

      <div>
        <label for="wrong_answer_1_box">
          Wrong answer 1
        </label>

        <textarea id="wrong_answer_1_box" name="query_wrong_answer_1"><%= @the_question.wrong_answer_1 %></textarea>
      </div>

      <div>
        <label for="wrong_answer_2_box">
          Wrong answer 2
        </label>

        <textarea id="wrong_answer_2_box" name="query_wrong_answer_2"><%= @the_question.wrong_answer_2 %></textarea>
      </div>

      <div>
        <label for="wrong_answer_3_box">
          Wrong answer 3
        </label>

        <textarea id="wrong_answer_3_box" name="query_wrong_answer_3"><%= @the_question.wrong_answer_3 %></textarea>
      </div>

      <div>
        <label for="correct_answer_box">
          Correct answer
        </label>

        <textarea id="correct_answer_box" name="query_correct_answer"><%= @the_question.correct_answer %></textarea>
      </div>

      <div>
        <label for="source_file_id_box">
          Source file
        </label>

        <input type="text" id="source_file_id_box" name="query_source_file_id" value="<%= @the_question.source_file_id %>">
      </div>

      <div>
        <label for="question_box">
          Question
        </label>

        <textarea id="question_box" name="query_question"><%= @the_question.question %></textarea>
      </div>

      <button>
        Update question
      </button>
    </form>
  </div>
</div>

<hr>
