<div>
  <div>
    <h1>
      List of all test questions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new test question
    </h2>

    <form action="/insert_test_question" method="post">
      <div>
        <label for="test_id_box">
          Test
        </label>

        <input type="text" id="test_id_box" name="query_test_id">
      </div>

      <div>
        <label for="question_id_box">
          Question
        </label>

        <input type="text" id="question_id_box" name="query_question_id">
      </div>

      <div>
        <input type="checkbox" id="correct_box" name="query_correct" value="1">

        <label for="correct_box">Correct</label>
      </div>

      <button>
        Create test question
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Test
        </th>

        <th>
          Question
        </th>

        <th>
          Correct
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_test_questions.each do |a_test_question| %>
      <tr>
        <td>
          <%= a_test_question.id %>
        </td>

        <td>
          <%= a_test_question.test_id %>
        </td>

        <td>
          <%= a_test_question.question_id %>
        </td>

        <td>
          <%= a_test_question.correct %>
        </td>

        <td>
          <%= time_ago_in_words(a_test_question.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_test_question.updated_at) %> ago
        </td>

        <td>
          <a href="/test_questions/<%= a_test_question.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
