<hr>
<div>
  <div>
    <% @list_of_test_questions.each do |a_test_question| %>
      <div class="question-block">
        <p class="question-text"><%= a_test_question.question.question %></p>
      </div>
      <form action="/modify_test_question/<%= a_test_question.id %>">
        <% a_test_question.question.answers.each do |answer| %>
          <div class="long-button">
            <input type="radio" id="<%= answer %>" name="answer" value="<%= answer %>">
            <label for="<%= answer %>">
              <i class="icon fas fa-heartbeat"></i> <!-- Heartbeat icon -->
              <%= answer %>
            </label>
          </div>
        <% end %>
        <% if @list_of_test_questions.last == a_test_question %>
          <button class="submit-button" type="submit">Submit</button>
        <% end %>
      </form>
      <br> <!-- Add a line break for spacing between questions -->
    <% end %>
  </div>
</div>
