<div>
  <div>
    <h1>
      List of All Questions
    </h1>
  </div>
</div>

</div>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Test
        </th>

        <th>
          Question
        </th>

        <th>
          Correct
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_test_questions.each do |a_test_question| %>
      <tr>
        <td>
          <%= a_test_question.id %>
        </td>

        <td>
          <%= a_test_question.test_id %>
        </td>

        <td>
          <%= a_test_question.question_id %>
        </td>

        <td>
          <%= a_test_question.correct %>
        </td>

        <td>
          <%= time_ago_in_words(a_test_question.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_test_question.updated_at) %> ago
        </td>

        <td>
          <a href="/test_questions/<%= a_test_question.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
